.weather-posts-block {
  font-family: 'Archivo', sans-serif;
  //font-family: inherit;

  .container-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    width: 100%;

    .big-post {
      grid-column: 1 / span 3;
    }

    .small-posts {
      grid-column: 4 / span 1;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }

  h2 {
    font-weight: 600;
    font-size: 34px;
    line-height: 120%;
  }

  .post-card {
    &__excerpt {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
    }
  }
}